*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: black;
}

.convert{
  border: 1px solid white;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-card{
  height: 500px;
  width: 400px;
  border: 1px solid white;
  background-color: aqua;
  display: flex;
  flex-direction: column;   
  align-items: center;      
}


.main-heading{
  /* border: 1px solid black; */
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.main-card h1{
  margin-top: 10px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.main-area{
  height: 80%;
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  
}

.input-box{
  display: flex;
  height: 30px;
  margin-top: 20px;
}


.nd{
  margin-left: 3px;
}

.btn-div{
  display: flex;
  justify-content: center;
}

.btn{
  margin-top: 20px;
  width: 30%;
  
}

.ansdiv{
  margin-top: 70px;
}